RewriteEngine On
RewriteRule ^accueil.html$ /index.php
RewriteRule ^actus-pc.html$ /views/pages.php?choice=0
RewriteRule ^actus.html$ /views/pages.php?choice=1
RewriteRule ^test.html$ /views/pages.php?choice=2
RewriteRule ^mobile.html$ /views/pages.php?choice=3
RewriteRule ^multi.html$ /views/pages.php?choice=4