



.light {
    *:not(button) {
        color: black;
    }
    background-color: #f7f7f2;
    .modal {
        button {
            color: white;
        }
    }
    .mybtn {
        border-color: rgb(46, 46, 46);
    }
    .myCarouselCaption {
        color: white;
    }
    .myCarousel * {
        color: white;
    }
    .modal-content {
        background-color: #f7f7f2;
    }
    nav {
        background-color: white !important;
        ul {
            li {
                a {
                    color: black !important;
                }
            }
        }
    }
    .mycard {
        background-color: rgb(223, 223, 223);
        .mybtn {
            border-color: black !important;
        }
    }
    .category {
        color: white;
        li {
            color: inherit;
            i {
                color: inherit;
            }
        }
    }
}