* {
    margin:0;
    padding:0;
    border:0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: aliceblue;
    background: black;
    border: solid 3px white ;
}