@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
body {
  background-color: #191b1c;
  color: white;
  padding-bottom: 50px;
  font-family: 'Mulish', sans-serif;
}

body header nav {
  background-color: #0a0a0a !important;
  z-index: 100;
  border-radius: 10px 10px 0 0 !important;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.575);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.575);
}

body header .myCarouselCaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.671);
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

body header .carousel-indicators button {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
}

body header .myCarousel {
  text-align: start !important;
  text-shadow: 1px 1px 2px black;
}

body header .myArrow {
  background-size: 50%;
  position: relative;
}

body header .myArrow::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.185);
  opacity: inherit;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
}

body main {
  color: white;
}

body main .title {
  margin-left: 1rem;
  position: relative;
}

body main .title::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 90%;
  background-color: #c9353b;
  left: -1rem;
  bottom: 0;
}

body main .title .tag {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

body main .title .desc {
  text-transform: uppercase;
  max-width: 100%;
}

body main .neutreTag::before {
  background-color: #5e807f;
}

body main .yellowTag::before {
  background-color: #ff7700;
}

body main .bleuTag::before {
  background-color: #004777;
}

body main .red {
  border: #c9353b 2px solid;
}

body main .bleu {
  border: #004777 2px solid;
}

body main .yellow {
  border: #ff7700 2px solid;
}

body main .mycard {
  background-color: #191b1c;
  -webkit-box-shadow: rgba(0, 0, 0, 0.226) 0 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.226) 0 2px 10px;
}

body main .mycard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body main .mycard .mybody {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .mycard .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .mycard .link .mybtn {
  text-decoration: none;
  color: inherit;
  padding: 0.3rem 1rem;
  border: white solid 1px;
  border-radius: 1rem;
  background-color: unset;
}

body main .mycard .link .mybtn:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

body main a {
  text-decoration: none;
  color: inherit;
}

body main .miniCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .miniCard .title {
  padding: 1rem 0;
  font-size: 0.8rem;
}

body main .miniCard .tag {
  text-transform: uppercase;
}

body main .miniCard .card-body {
  padding-bottom: 0;
  padding-right: 0;
}

body main .modal-content {
  background: #191b1c;
}

body footer {
  color: white;
  background-color: #181c18;
  margin-top: 1rem;
}

body footer .category {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
  min-width: 170px;
}

body footer .category .title {
  position: relative;
  color: white;
}

body footer .category .title .plus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: end;
  padding-right: 5px;
  color: inherit;
  cursor: pointer;
}

body footer ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  margin-top: 1rem;
}

body footer ul li {
  margin-bottom: 0.5rem;
}

body .mybtn {
  text-decoration: none;
  color: inherit;
  padding: 0.3rem 1rem;
  border: white solid 1px;
  border-radius: 1rem;
  background-color: unset;
}

body .mybtn:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

.parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.parameters .cardPara {
  width: 90%;
  max-width: 500px;
  color: white;
  padding: 1.3rem;
  background: rgba(23, 23, 23, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/*# sourceMappingURL=style.css.map */